.caixa {
    color: white;
    display: inline-block;
    line-height: 50px;
    text-align: center;
    vertical-align: top;
  }

  .width-and-height {
    height: 50px;
    width: 50px;
  }

  .padding {
  /* insira aqui um padding de 20px na classe abaixo para aplicá-lo aos itens B, C e D */
    padding: 20px;
  }

  .margin {
  /* insira aqui uma margem de 30px na classe abaixo para aplicá-la aos itens C e D */
    margin: 30px
  }

  .border {
  /* insira aqui uma borda com valor '5px solid black' para aplicá-la ao item D */
    border: 5px solid black;
  }

  .mario {
    width: 100px;
    position: absolute;
    z-index: 1;
   
  }
  
  .goomba {
    width: 100px;
    position: absolute;
    z-index: 2;
    margin-top: 150px;
}

  .baloon {
    width: 140px;
    position: absolute;
    z-index: 3;
    margin-top: 100px;
    margin-left: 120px;
    }

  .bowser {
    width: 100px;
    position: absolute;
    z-index: 4;
    margin-top: 150px;
    margin-left: 270px;
}

.word {
    position: absolute;
    z-index: 5;
    margin-top: 110px;
    margin-left: 150px;
    width: 5px;

}

p, h1 {
  text-align: center;
}

ol li:hover {
  background-color: blueviolet;
}
.bestSites {
  list-style: none;
}
.listLike {
  list-style: none;
}